{{!-- api generated events page --}}
<h1>test print</h1>
{{#each data._embedded.events}}
<hr />
<h1>{{this.name}}</h1>
<img src="{{images.url}}" alt="image of the event">
<p>date: {{dates.start.localDate}}</p>
<a href='{{url}}'>See more</a>
<hr />
{{/each}}