{{!-- api generated events page --}}
<div class="events">
<h1>Events near you</h1>

{{#each data._embedded.events}}
<div class="eventcard">
<h2>{{this.name}}</h2>
<img src="{{images.3.url}}" alt="image of the event">
<p>date: {{dates.start.localDate}}</p>
<a href='{{url}}' class="btn" target="_blank">See more</a>
</div>
{{/each}}


</div>