<div class="onboarding">

   <div class="onboarding-title">
      <h2>Create an event</h2>
      <p>Get ready to receive people in your booth</p>
   </div>

   <div class="onboardingform">
      <form action="/organic-event/create" method="POST" enctype="multipart/form-data">
         <label> Title
            <input type="text" name="title">
         </label>
         <label> Date
            <input type="date" name="date">
         </label>
         <input type="hidden" name="eventCreator" value="{{user._id}}">
         <label> Image
            <input type="file" name="eventImage">
         </label>
         <label> Location
            <input type="text" name="location">
         </label>
         <label> Music genre
            <input type="text" name="genre">
         </label>
         <label> Description
            <textarea type="text" name="description"> </textarea>
         </label>   
         <br>
   </div>

</div>
   <div class="logout">
         <button type="submit" class="btn">Create event</button>
      </form>
   </div>





{{#if errorMessage}}
   {{errorMessage}}
{{/if}}