{{!-- landing page with will contain all feeds --}}
{{#unless user}}
    <div class="hero">
        <h1>Welcome to<br>theBooth!</h1>
        <p>Build relationships based on music.</p>
    </div>
{{/unless}}