
{{#unless user}}
<header class="header">
    <div class="hero">
        <h1>Welcome to the Booth!</h1>
        <p>Build relationships based on music.</p>
    </div>
    
    <p><a href='/auth/signup' class="primary-button">Signup</a></p>

</header>
{{/unless}}