<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

  <body>
    <nav>
      <ul>
        <li id='to-left'>
          <p><a href='/'>Home</a></p>
        </li>
        {{#unless user}}
        <li id='to-right'>
          <p><a href='/auth/signup'>Signup</a></p>
        </li>
        <li id='to-right'>
          <p><a href='/auth/login'>Login</a></p>
        </li>
        {{/unless}}

        
        {{#if user}}
         <li id='to-left'>
          <p><a href='/user/profile'>Profile</a></p>
        </li>
         <li id='to-left'>
          <p><a href='/organic-event/create'>Create New Event</a></p>
        </li>
         <li id='to-left'>
          <p><a href='/organic-event/my-list'>Your Events</a></p>
        </li>
        <li id='to-left'>
          <p><a href='/organic-event/full-list'>All Events</a></p>
        </li>
        <form action='/auth/logout' method='post'>
          <button>Logout</button></form>
         {{/if}}
      </ul>
    </nav> 



    {{{body}}}

    <script src='/js/script.js'></script>
  </body>

</html>