<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" media="(media-features)" href="/stylesheets/styles.css" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

  <body>

{{!-- logo and !user navigation section --}}
<div class="branding">
  {{#unless user}}
  <ul class='btn'><a href='/auth/signup'>Signup</a></ul>
  <ul class='btn'><a href='/auth/login'>Login</a></ul>
  {{/unless}}
   {{!-- <ul class='btn'><a href='/organic-event/create'>Create</a></ul> --}}
   <ul class='btn'><a href='/organic-event/create'>Create</a></ul>

  <ul class='btn'><a href='/'>Logo</a></ul>


</div>


{{!-- main section which includes the body component --}}
  <main>
    {{{body}}}
  </main>
  {{#if user}}

{{!-- main navigation component --}}
  <div class="navbar">
    <ul class='nav'><a href='/apievents'>Events</a></ul>
    <ul class='nav'><a href='/organic-event/full-list'>allEvents</a></ul>
    <ul class='nav'><a href='/explore'>Explore</a></ul>
    <ul class='nav'><a href='/organic-event/create'>Create Event</a></ul>
    <ul class='nav'><a href='/organic-event/my-list'>Your Events</a></ul>
    <ul class='nav'><a href='/user/profile'>Profile</a></ul>
  </div>
  {{/if}}

    <script src='/js/script.js'></script>
  </body>

</html>