<form action="/user/onboarding" method="POST" enctype="multipart/form-data">
   <label> First name
      <input type="text" name="firstName">
   </label>
   <label> Last name
      <input type="text" name="lastName">
   </label>
   <label> Profile picture
      <input type="file" name="profile_picture">
   </label>
   <label> Location
      <input type="text" name="location">
   </label>
   <label> Music genre
      <input type="text" name="genres">
   </label>
   <label> Favourite artist
      <input type="text" name="favArtist">
   </label>   

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}