{{!-- onboarding page --}}
<div class="onboarding">
   
   <div class="onboardingtitle">
      <h2>Tell us a bit about yourself</h2>
      <p>It will allow us to improve your experience</p>
   </div>

   <div class="onboardingform">
      <form action="/user/onboarding" method="POST" enctype="multipart/form-data">
         <div> 
         <label>First name<input type="text" name="firstName"></label>

         </div>
         <div> 
            
         <label>Last name<input type="text" name="lastName"></label>
         </div>
         <div> 
            
         <label>Profile picture<input type="file" name="profile_picture"></label>
         </div>
         <div> 
            
         <label>Location<input type="text" name="location"></label>
         </div>
         <div> 
            
         <label>Music genre<input type="text" name="genres"></label>
         </div>
         <div> 
            
         <label>Favourite artist<input type="text" name="favArtist"></label>   
         </div>
   </div>
      

</div>
      <div class ="logout">
         <button type="submit" class="btn">Get in the booth</button>
         </form>
      </div>
      




{{#if errorMessage}}
   {{errorMessage}}
{{/if}}